*{
    margin:0;
    padding: 0;

}
.wraper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter{
    display: flex;
    justify-content:  space-around;
    width:80%;
    height: 15%;
 
  }

.booked{
    width:35%;
    height:80%

}
.vaccant{
    width:35%;
    height:80%
}
.box{
    background-color: red;
}

.seat-container{

padding:0;
height: 60%;
width: 80%;
border:2px solid;
display: grid;
grid-template-columns: repeat(6,2fr);
grid-template-rows: repeat(6,2fr );
grid-gap:5px;
}

.selected{
    background-color: rgb(128, 0, 0);
}
.basic{
    background-color: rgb(153, 118, 118);

}