 body{
    background-image: url('./letter.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.5rem;
    max-width: 900px;
    margin: auto;
    margin-top: 250px;



    }

  .name{
    font-size: 2rem;
  }
